#project {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  // Lock perspective and render children relative to fixed
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.project__content {
  @extend .fix-content;
  transform: translateZ(0);
  display: flex;
  flex-direction: column;
}

.sections-wrapper {
  justify-content: center;
  background: $background;
  > .sections { // project sections
    max-width: 1050px;
    flex-direction: column;
    margin: 20px 0;
    > div {
      max-height: 800px;
      flex-direction: column-reverse;
      width: 100%;
      padding: 15px 0;
      > div { // both section text and image
        flex-direction: column;
        padding: 0 20px;
        > h2 {
          margin: 0;
          font-family: $headers;
          font-weight: 500;
          font-size: 2em;
        }
        > p {
          overflow: scroll;
        }
      }
      > .screenshot {
        align-items: center;
        justify-content: center;
        > .img-wrapper {
          display: block !important;
          > img {
            max-width: 100%;
            max-height: 400px;
          }
        }
      }
      > .text {
        padding-top: 10px;
        align-items: flex-start;
        text-align: justify;
        > ul { // tech list
          flex-direction: column;
          align-items: flex-start;
          text-align: start;
          font-size: 1.3em;
          > li {
            display: list-item !important;
            > a { // link to tech info
              display: inline !important;
              color: $link;
              &:hover {
                color: $hover;
                -webkit-text-fill-color: $hover;
              }
            }
          }
        }
      }
      @media (min-width: $lg) {
        max-height: 400px;
        &:nth-child(odd) {
          flex-direction: row;
        }
        &:nth-child(even) {
          flex-direction: row-reverse;
        }
        > div { // both section text and image
          width: 50%;
          padding: 0 30px;
        }
        > .text {
          padding-top: 0;
        }
      }
    }
  }
}
