#project {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  // Lock perspective and render children relative to fixed
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.project__wrapper {
  @extend .fix-content;
  transform: translateZ(0);
  display: flex;
  flex-direction: column;
}

.project__content {
  justify-content: center;
  border-top: 1px solid $borders-body;
  background: $background;
  > .project__content-buffer {
    display: flex;
    flex-direction: column;
    max-width: $xl;
    width: 90%;
    > * {
      display: flex;
      flex-direction: column;
      padding: 30px 0 80px;
      width: 100%;
    }
    > .project__background {
      position: relative;
      > .project__background--background {
        position: absolute;
        top: 0;
        left: -50%;
        height: 100%;
        width: 200%;
        background: $foreground;
        transform: rotate(4deg);
      }
      > .project__background--wrapper {
        z-index: 0;
        display: flex;
        flex-direction: column;
        font-size: calc(14px + .3vw);
        p {
          margin: 0;
          + p { margin-top: 15px; }
        }
      }
    }
    > .project__images {
      h2 {
        margin-top: 0;
      }
      > .project__images--gallery {
        display: flex;
        flex-direction: column;
        align-self: center;
        max-width: $lg;
        .project__image {
          display: flex;
          justify-content: center;
          margin-bottom: calc(20px + 1vw);
          .project__image--wrapper {
            $image-transition: all .3s ease-out;
            $image-padding: calc(5px + 1vw);
            position: relative;
            display: block !important;
            padding: $image-padding;
            border: 1px solid $borders-body;
            cursor: pointer;
            transition: $image-transition;
            &:hover {
              transform: scale(1.025);
              border-color: transparent;
              background: rgba(0, 0, 0, .2);
              .project__image--description {
                opacity: 1;
                background: rgba(0, 0, 0, .6);
              }
            }
            img {
              max-width: 100%;
            }
            .project__image--description {
              position: absolute;
              bottom: 0;
              opacity: 0;
              box-sizing: border-box;
              display: flex;
              justify-content: center;
              margin-bottom: $image-padding;
              padding: 10px 15px;
              width: calc(100% - 2 * calc(5px + 1vw));
              text-align: center;
              color: $text-dark;
              -webkit-text-fill-color: $text-light;
              line-height: 18px;
              font-size: 14px;
              transition: $image-transition;
              @media (max-width: $md) {
                font-size: 12px;
              }
            }
          }
        }
        .project__images--row {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .project__image {
            padding: 0 calc((20px + 1vw) / 2);
            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }
          }
          @media (max-width: $md) {
            flex-direction: column;
            .project__image { padding: 0; }
          }
        }
      }
    }
  }
}

.project__image--modal {
  flex-direction: column; 
  img {
    max-width: 100%;
    max-height: 80%;
  }
  .project__image--modal-text {
    max-width: 80%;
    margin-top: 15px;
    text-align: center;
    color: $text-light;
    @media (max-width: $sm) {
      font-size: 14px;
    }
  }
}
