#project {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  // Lock perspective and render children relative to fixed
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.project__wrapper {
  @extend .fix-content;
  transform: translateZ(0);
  display: flex;
  flex-direction: column;
}

.project__content {
  justify-content: center;
  border-top: 1px solid $borders-body;
  background: $background;
  > .project__content-buffer {
    display: flex;
    flex-direction: column;
    max-width: $xl;
    width: 90%;
    > * {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      width: 100%;
    }
    > .project__background {
      display: flex;
      flex-direction: column;
      font-size: calc(14px + .3vw);
      p { margin: 0 }
    }
    > .project__images {
      > .project__images--gallery {
        display: flex;
        flex-direction: column;
        align-self: center;
        max-width: $lg;
        .project__images--wrapper {
          display: flex;
          justify-content: center;
          margin-bottom: calc(20px + 1vw);
          a {
            $image-transition: all .3s ease-out;
            $image-padding: calc(5px + 1vw);
            position: relative;
            display: block !important;
            padding: $image-padding;
            border: 1px solid $borders-body;
            transition: $image-transition;
            &:hover {
              transform: scale(1.025);
              border-color: transparent;
              background: rgba(0, 0, 0, .2);
              .project__images--description {
                opacity: 1;
                background: rgba(0, 0, 0, .6);
              }
            }
            img {
              max-width: 100%;
            }
            .project__images--description {
              position: absolute;
              bottom: 0;
              opacity: 0;
              box-sizing: border-box;
              display: flex;
              justify-content: center;
              margin-bottom: $image-padding;
              padding: 10px 15px;
              width: calc(100% - 2 * calc(5px + 1vw));
              text-align: center;
              color: white;
              line-height: 18px;
              font-size: 14px;
              transition: $image-transition;
              @media (max-width: $md) {
                font-size: 12px;
              }
            }
          }
        }
        .project__images--row {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .project__images--wrapper {
            padding: 0 calc((20px + 1vw) / 2);
            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }
          }
          @media (max-width: $md) {
            flex-direction: column;
            .project__images--wrapper { padding: 0; }
          }
        }
      }
    }
  }
}
