// Dynamic size of about banner
.about-banner-height {
  height: 500px;
  @media (max-width: $sm) {
    height: 300px;
  }
}

#about {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - #{$footer});
  width: 100%;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  // Lock perspective and render children relative to fixed
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: scroll;
  .about__banner {
    @extend .fix-content;
    transform: translateZ(-1px) scale(2);
    bottom: 0;
    > .about__banner--bg {
      width: 100%;
      @extend .about-banner-height;
      background: url("#{$AMAZON_S3_IMAGES}wallpaper/about.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @media (max-width: $xl) {
        background-position: center bottom;
      }
    }
  }
  .about__wrapper {
    @extend .fix-content;
    transform: translateZ(0);
    display: flex;
    flex-direction: column;
    .about__title-wrapper {
      @extend .about-banner-height;
    }
    .about__content {
      flex-direction: column;
      background: $background;
      > .about__section {
        justify-content: center;
        padding: 25px 0;
        > .about__section--wrapper {
          flex-direction: column;
          max-width: $xl;
          width: 90%;
          > h2 {
            margin: 0 0 20px;
            font-weight: 500;
            font-size: 2em;
          }
          p {
            margin: 0;
          }
        }
        &:nth-child(even) {
          background: $foreground;
        }
        .about__intro {
          > .about__intro--headline {
            min-width: 33%;
            margin-right: 25px;
            text-align: right;
            font-family: $headers;
            font-size: 1.2em;
          }
          > .about__intro--body {
            flex-direction: column;
            p + p {
              margin-top: 20px;
            }
          }
          @media (max-width: $md) {
            flex-direction: column;
            > .about__intro--headline {
              margin-right: 0;
              text-align: initial;
            }
            > .about__intro--body {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}