// Project icon sizes
$projects: (
	fyre: 45%,
	steps: 60%,
	real-time-tone-analysis: 32%,
	capital-weather: 55%,
	git-lucky: 53%,
	showspot: 65%,
	parachute-teachers: 40%,
	runkeeper-hashmatch: 70%
);

// Fonts
$primary: Quicksand;
$headers: Raleway;

// Screen sizes
$xl: 991px;
$lg: 768px;
$md: 550px;
$sm: 400px;

// Element heights
$lg-nav: 55px;
$sm-nav: 40px;
$footer: 30px;
$large-screen: calc(100vh - #{$lg-nav} - #{$footer});
$small-screen: calc(100vh - #{$sm-nav} - #{$footer});

// Transitions
$project-select-transition: all 0.5s ease-out;
$link-transition: all 0.3s ease-out;

/* COLORS */
// Primary colors
$link: #8c8c8c;
$active: #8b9dc3;
$hover: #8b9dc3;

// Background colors
$background: #f7f7f7;
$foreground: white;
$borders: #8c8c8c;
$borders-body: #dcdcdc;

// Text colors
$text-light: white;
$text-dark: black;
$placeholder-text: black;
$error-text: #f44336;

$AMAZON_S3_IMAGES: "https://s3.amazonaws.com/jakepeyser.com/images/"
