.mobile-menu {
  @media screen and (min-width: $md) {
    display: none;
  }

  > .mobile-menu__icon-wrapper { // hamburger menu icon
    position: absolute;
    right: 0;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: $sm-nav;
    > svg {
      margin-right: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .bm-overlay {
    z-index: 3 !important;
  }
  .bm-burger-button {
    display: none;
  }
  .mobile-menu__list { // sidebar menu
    z-index: 4 !important;
    background-color: $background;
    .bm-cross-button {
      .bm-cross {
        background: $text-dark;
      }
      &:hover .bm-cross {
        background: $hover;
      }
    }
    .nav-list {
      padding: 0;
      list-style: none;
      font-family: $headers;
      li > a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 48px;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: $text-dark;
        &.active-nav {
          color: $active;
        }
        &:hover {
          color: $hover;
        }
      }
    }
  }
}
