.portfolio {
	position: fixed;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: $large-screen;
  @media screen and (max-width: $md) {
    height: $small-screen;
  }

	.project-bubbles__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: $foreground;
		width: 100%;
		height: 100%;
		> .project-bubbles__bg {
			position: absolute;
			background: url("#{$AMAZON_S3_IMAGES}wallpaper/portfolio.png");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border-radius: inherit;
			width: 100%;
			height: 100%;
		}
		> .project-bubbles {
			z-index: 1;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;
			height: 100%;
		}
	}

	&.portfolio--sm {
		.project-bubbles__wrapper {
			// Small panel sizes
			$panels: (
				( 0, 100%, 70px, 0, 0px ),
				( $sm, 80%, 85px, 10px, 1px ),
				( $md, 500px, 100px, 15px, 1px )
			);
			@each $size in $panels {
				// Media queries for screen sizes and handheld landscape mode
				$media-query: "(min-width: #{nth($size, 1)})";
				@if nth($size, 1) == $sm {
					$media-query: "#{$media-query}, (max-height: #{$md}) AND (min-width: #{$sm})";
				} @else if nth($size, 1) == $md {
					$media-query: "#{$media-query} AND (min-height: #{$md})";
				}

				@media #{$media-query} {
					width: nth($size, 2);
					height: nth($size, 3);
					border-bottom-left-radius: nth($size, 4);
					border-bottom-right-radius: nth($size, 4);
					border: nth($size, 5) solid $borders;
					border-top: none;
					border-bottom-width: 1px;
				}
			}
			z-index: 2;
			margin-top: -1px;
			transition: $project-select-transition;
			> .project-bubbles__bg {
				opacity: 0;
				transition: $project-select-transition;
			}
			> .project-bubbles {
				justify-content: flex-start;
				flex-wrap: nowrap;
				box-sizing: border-box;
				overflow-x: scroll;
				overflow-y: hidden;
				padding: 0 10px;
			}
		}
	}
}