.bubble-child {
	width: inherit;
	height: inherit;
	border-radius: inherit;
}

@mixin make-project-bubbles ($bubbles) {
  @each $size in $bubbles {
			// Media queries for screen sizes and handheld landscape mode
			$media-query: "(min-width: #{nth($size, 1)})";
			@if nth($size, 1) == $sm {
				$media-query: "#{$media-query}, (max-height: #{$md}) AND (min-width: #{$sm})";
			} @else if nth($size, 1) == $md {
				$media-query: "#{$media-query} AND (min-height: #{$md})";
			}

			@media #{$media-query} {
			height: nth($size, 2);
			width: nth($size, 2);
			margin: nth($size, 3);
			border: nth($size, 4) solid $borders;
		}
	}
}

.project-bubble {
  $bubbles: (
    ( 0, 120px, 10px 20px, 4px ),
    ( $sm, 120px, 10px 20px, 4px ),
    ( $md, 120px, 20px 25px, 4px ),
    ( $lg, 150px, 20px 30px, 5px )
  );
  @include make-project-bubbles($bubbles);
  border-radius: 50%;
  background: $background;
  color: inherit;
  -webkit-text-fill-color: inherit;

  // Large bubbles floating animation
  animation: 2s infinite border-pulse;
  &:hover {
    animation: none;
    border-color: $active;
  }
  @keyframes border-pulse {
    0%   {border-color: $borders}
    50%  {border-color: $active}
    100% {border-color: $borders}
  }

  > .project-bubble__wrapper {
    @extend .bubble-child;
    position: relative;
    /* Project Bubble Icons */
    @each $name, $icon-size in $projects {
      > .i-#{$name} {
        @extend .bubble-child;
        position: absolute;
        background: url("#{$AMAZON_S3_IMAGES}#{$name}/icon.png");
        background-size: $icon-size;
        background-repeat: no-repeat;
        background-position: center;
        &.project-bubble__icon {
          transition: filter 0.2s linear, z-index .2s linear;
        }
      }
    }
    > .project-bubble__text-wrapper {
      @extend .bubble-child;
      position: absolute;
      justify-content: center;
      align-items: center;
      color: $text-light;
      -webkit-text-fill-color: $text-light;
      opacity: 0;
      transition: opacity 0.2s linear, color 0.2s linear, background 0.2s linear;
      &:hover {
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, .75);
        cursor: pointer;
        opacity: 1;
      }
      > .project-bubble__text {
        text-align: center;
        font-family: $headers;
        $text: (
          ( 0, 500, 1em ),
          ( $lg, 600, 1.2em )
        );
        @each $size in $text {
            // Media queries for screen sizes and handheld landscape mode
            $media-query: "(min-width: #{nth($size, 1)})";
            @if nth($size, 1) == 0 {
              $media-query: "#{$media-query}, (max-height: #{$md})";
            } @else if nth($size, 1) == $md {
              $media-query: "#{$media-query} AND (min-height: #{$md})";
            }

            @media #{$media-query} {
            font-weight: nth($size, 2);
            font-size: nth($size, 3);
          }
        }
        padding: 0 7px;
        cursor: inherit;
        user-select: none;
        &.project-bubble__text--sm {
          font-weight: 600;
          font-size: .7em;
          transition: $project-select-transition;
          @media (max-width: $md), (max-height: $md) {
            display: none !important;
          }
        }
      }
    }
  }

  &.project-bubble--sm {
		// Panel bubble sizes
		$bubbles: (
      ( 0, 50px, 5px 5px, 2px ),
      ( $sm, 60px, 7px 7px, 2px ),
      ( $md, 75px, 10px 10px, 3px )
    );
		@include make-project-bubbles($bubbles);
    animation: none;
    &:first-child {
      margin-left: 0
    }
    &:last-child {
      margin-right: 0
    }

    .active-text {
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, .75);
      opacity: 1;
    }

    // hover on small bubble colored icons
		&:hover > .project-bubble__wrapper {
			> .project-bubble__icon {
				@media (max-width: $md) {
					filter: brightness(0) invert(90%);
					z-index: 1;
				}
			}
			> .project-bubble__text-wrapper {
        @extend .active-text;
				cursor: pointer;
			}
		}

    // currently selected project
    &.project-bubble--active {
      border-color: $active;
      .project-bubble__wrapper {
        > .project-bubble__icon {
          @media (max-width: $md), (max-height: $md) {
            filter: brightness(0) invert(90%);
            z-index: 1;
          }
        }
        .project-bubble__text-wrapper {
          @extend .active-text;
          filter: none;
          color: $text-light;
          -webkit-text-fill-color: $text-light;
        }
      }
    }
  }
}
