.icon > i {
  -webkit-text-fill-color: $text-dark;;
  color: $text-dark;;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;

  &:hover {
    cursor: pointer;
    -webkit-text-fill-color: $hover;
    color: $hover;
  }
}
