#fourohfour {
  position: relative;
  overflow: hidden;
  flex-direction: row;
  > .zipper-wrapper {
    width: 60%;
    justify-content: center;
  }
  .apology-wrapper {
    margin: 60px 40px 0 40px;
    width: 40%;
    justify-content: center;
  }
  @media (max-width: $lg) {
    .zipper-wrapper {
      display: none !important;
    }
    .apology-wrapper {
      margin: 0 20px;
      width: 100%;
    }
  }
}

.apology {
  flex-direction: column;
  max-width: 425px;
  > h1 {
    display: none !important;
  }
  > h2 {
    margin: 0;
    font-family: Raleway;
    font-size: 102px;
  }
  > p {
    margin: 20px 0 0 0;
    font-size: 18px;
    &.sub-caption {
      margin: 0;
      font-size: 32px;
    }
  }
  > ul { // list of alternative pages
    display: block !important;
    padding: 0;
    font-size: 18px;
    > li {
      + li {
        margin-top: 5px;
      }
      > a {
        color: $link;
        &:hover {
          color: $hover;
        }
      }
    }
  }
  @media (max-width: $xl) {
    > h2 {
      font-size: 72px;
    }
    > p.sub-caption {
      font-size: 28px;
    }
  }
  @media (max-width: $lg) {
    > h1 {
      display: initial !important;
      margin: 0 0 20px 0;
      font-size: 120px;
      font-family: Raleway;
      font-weight: light;
      text-align: center;
    }
  }
  @media (max-width: $sm) {
    > h1 {
      font-size: 72px;
    }
    > h2 {
      font-size: 48px;
    }
    > p.sub-caption {
      font-size: 28px;
    }
    > ul {
      font-size: 18px;
    }
  }
}

