#contact {
  max-width: 900px;
  align-items: flex-start;
  > div {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0;
    margin: 0 15px;
    > div { // info and form sections
      width: 100%;
      flex-direction: column;
    }
    @media (min-width: $md) {
      margin: 0 30px;
      flex-direction: row;
      > div { // info and form sections
        width: 50%;
        &:nth-child(odd) {
          margin-right: 10px;
        }
        &:nth-child(even) {
          margin-left: 10px;
        }
      }
    }
  }
}

.contact-info {
  align-items: flex-start;
  text-align: left;
  > h2 {
    margin: 0 0 10px 0;
    font-family: $headers;
    font-weight: 500;
    font-size: 2em;
  }
  > p {
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  > .profiles > a + a { // social icons
    margin-left: 20px;
  }
}

.form { // contact form
  justify-content: flex-start;
  > form {
    width: 100%;
    border: none;
    > fieldset {
      width: inherit;
      border: inherit;
      > .contact-form {
        flex-direction: column;
        align-items: flex-start;
        width: inherit;
        > div > div { // adjust textarea location
          align-items: center;
        }
        > button { // send button
          margin-top: 1.5em;
          display: inline-block !important;
          &:focus {
            outline: none;
          }
        }
      }
      @media (max-width: $md) {
        padding: 0;
        button {
          align-self: center;
          width: 200px;
        }
      }
    }
  }
}

$box-padding: 20px;
.form-sent { // div after sending email
  border-radius: 15px;
  background-color: $foreground;
  align-items: center;
  > p {
    margin: $box-padding $box-padding 0;
    font-size: 1.2em;
    text-align: center;
  }
  > button {
    display: block !important;
    margin: $box-padding 0;
    width: 150px;
  }
  @media (max-width: $md) {
    margin-top: 20px;
  }
}
