#footer {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0px 20px;
  background-color: $foreground;
  color: $text-dark;
  -webkit-text-fill-color: $text-dark;
  > span { // copyright
    font-size: 14px;
  }
  > .profiles { // social icons
    float: right;
    margin-left: auto;
		@media (max-width: $sm) {
			display: none;
		}
    > a + a {
      margin-left: 10px;
    }
  }
}
