#home {
  justify-content: center;
  align-items: center;
}

.info {
  flex-direction: column;
  align-items: center;
	text-align: center;
  font-family: $headers;
  > .name {
    font-weight: 700;
    font-size: 7em;
  }
  > .title {
    font-size: 3em;
  }
}
