#navbar {
  position: fixed;
  height: 55px;
  z-index: 1;
  width: inherit;
  top: 0px;
  left: 0px;
  background-color: $foreground;
  border-bottom: 1px solid $borders;
}

.logo-link {
  margin: 0px 20px;
  > .logo {
    width: 40px;
    height: 40px;
    margin: 7px 0px;
    &:hover #jakepeyser-logo {
      animation: rainbow 3s infinite linear;
      @keyframes rainbow {
        0%   { fill: #2a30ff; }
        10%  { fill: #9d24ff; }
        20%  { fill: #ff0080; }
        30%  { fill: #ff1c0d; }
        40%  { fill: #ff7f27; }
        50%  { fill: #ffb72c; }
        60%  { fill: #55c439; }
        70%  { fill: #00ff00; }
        80%  { fill: #00ff80; }
        90%  { fill: #70b1ff; }
        100% { fill: #2a30ff; }
      }
    }
  }
}

.nav {
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
  > .nav-list { // navigation menu
    display: inline-flex;
    @media (max-width: $md) { display: none; }
    padding: 0;
    margin: 0 20px;
    list-style-type: none;
    font-family: $headers;
    font-weight: 600;
    > li {
      font-size: 1.3em;
      + li::before { // menu item separators
        padding-left: 0.4em;
        padding-right: 0.4em;
        content: '|';
      }
      > .nav-link {
        color: $text-dark;
        -webkit-text-fill-color: $text-dark;
        text-decoration: none;
        &:hover, &:focus {
          color: $hover;
          -webkit-text-fill-color: $hover;
          text-decoration: none;
        }
        &.active-nav { // currently active menu item
          color: $active;
          -webkit-text-fill-color: $active;
        }
      }
    }
  }
  > .menu-icon { // hamburger menu icon
    @media (min-width: $md) { display: none; }
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

// Popover menu when user clicks hamburger icon
.menu-popover {
  top: 55px !important;
  left: 0 !important;
  width: 100%;
  @media (min-width: $md) { display: none; }
  > div > div > div, .menu { // menu wrapper
    display: block !important;
    width: 100% !important;
  }
  .nav-link {
    text-align: center;
    font-size: 20px !important;
    font-family: $headers !important;
    &.active-nav { // active menu item
      font-weight: 600 !important;
      color: $active !important;
    }
  }
}



